@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow: hidden;
    height:100%;
}
.chatarea{
   width:calc(100% - 25%);
}
.side ~ .chatarea{
    left:25%;
    width:calc(100% - 25%);
}
.editor::after{
    display: block;
    content:attr(data-placeholder);
    visibility: hidden;
    margin-top:-24px;
}
.editor::before{
    left:0;
    right:16px;
}
.side ~.welcome_screen{
    left:25%;
    width:calc(100% - 25%);
}
 @font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.ttf');
 }