@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow: hidden;
    height:100%;
}
.chatarea{
   width:calc(100% - 25%);
}
.editor::after{
    display: block;
    content:attr(data-placeholder);
    visibility: hidden;
    margin-top:-24px;
}
#new_chat{
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
}
.editor::before{
    position: absolute;
    
    left:0;
    right:16px;
}
.side ~.chatarea{
    left:25%;
    width:calc(100% - 25%);
}
.side{
  width:25%;
}

 @font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.ttf');
 }
 [contenteditable] {
    outline: 0px solid transparent;
  }
@media (min-width:768){
 
}
